@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --light-orange: #f0a202ff;
    --orange: #f18805ff;
    --dark-orange: #d95d39ff;
    --strong-dark-blue: #191d38;
    --maroon: #581f18ff;
    --white: #EEF8FF;
    --black: #1c1c1c;
    --dark-blue: #21303e;
    --darker-blue: rgba(8,8,20,0.82);
}

* {
    font-family: "Raleway", sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#navbarHeader {
    position: absolute;
    top: 0;
    justify-content: flex-end;
    right: 10rem;
    background: transparent;
    padding: 1rem 0;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
}

.nav-links ul {
    display: flex;
    flex-direction: row;
}

.nav-links li {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.page-link {
    color: var(--black);
    text-decoration: none;
    padding: 3rem 2.5rem;
    transition: 0.2s;
    font-weight: 500;
}

.page-link:hover {
    box-shadow: inset 0 0 0 3em var(--orange);
}

.collapse-nav {
    display: none;
    font-size: 20px;
    cursor: pointer;
    justify-content: flex-end;
}

.logo-text {
    position: absolute;
    justify-content: flex-start;
    left: 10rem;
    top: 0;
    padding: 1rem;
    height: auto;
    width: 17rem;
}

.slider {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.slide.current .content {
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;

}

.buttons button#next {
    position: absolute;
    top: 50%;
    right: 15px;
}

.buttons button#prev {
    position: absolute;
    top: 50%;
    left: 15px;
}

.buttons button {
    border: 2px solid var(--white);
    background: transparent;
    color: var(--white);
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
    transition: background 0.3s ease-in-out;
}

.buttons button:hover {
    background: var(--white);
    color: var(--black);
}

.buttondowncontainer {
    align-items: center;
    justify-content: center;
    display: flex;
}

#buttondown {
    font-size: 5rem;
    border: 3px solid var(--white);
    border-radius: 1rem;
    color: var(--white);
    position: absolute;
    bottom: 5%;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

#buttondown:hover {
    background-color: var(--white);
    border: 3px solid var(--white);
    color: var(--black);
}

#services {
    display: flex;
    min-height: 100rem;
    width: 100vw;
    justify-content: center;
    padding-top: 5rem;
    background: var(--white);
    overflow: hidden;
}

.section-title {
    color: var(--orange);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.servicesinfo-moto {
    margin-top: 0;
    text-align: center;
    color: var(--black);
    font-size: 5rem;
    font-weight: 400;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    max-width: 3000px;
}

.service {
    padding: 10rem 5rem;
    text-align: center;
    margin: 0 auto;
}

.icon {
    font-size: 8rem;
    color: var(--black);
}

.service-title h2{
    font-size: 2.25rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--orange);
    text-align: center;
    margin-bottom: 1rem;
}

.service-desc h2{
    font-size: 2rem;
    font-weight: 200;
    color: var(--black);
    margin-top: 0;
}

.block-orange {
    display: block;
    color: var(--orange);
    font-weight: 700;
    font-style: italic
}

#about {
    display: flex;
    height: 30rem;
    width: 100vw;
    justify-content: center;
    padding-top: 5rem;
    background: var(--dark-blue);
    overflow: hidden;
}


.quote {
    padding-top: 3rem;
    font-size: 2rem;
    width: 100rem;
    text-align: center;
    font-style: italic;
}

#contact {
    display: flex;
    height: 60vh;
    width: 100vw;
    justify-content: center;
    padding-top: 5rem;
    background: var(--white);
    overflow: hidden;
}

.find-more {
    margin-top: 0;
    font-size: 6rem;
    text-align: center;
    color: var(--dark-blue);
}

.googlemaps-api {
    padding-top: 10rem;
    height: 60rem;
    width: 100vw;
}

.contact {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    color: var(--black);
    font-size: 4rem;
    transition: transform 0.3s ease-out;
    text-decoration: none;
    padding: 3rem 8rem;
}

.contact-details:hover {
    transform: translateY(8px);
}


/* Background Images for Slider */
.slide:first-child {
    background: url("./Images/5b119749-b828-4373-950d-a5d371b74b72.jpg") no-repeat center top/cover;
}

.slide:nth-child(2) {
    background: url("./Images/5e7b340c-8172-41f9-af3f-fe8642d85a1b.jpg") no-repeat center top/cover;
}

.slide:nth-child(3) {
    background: url("./Images/f8c322dd-91c9-4901-af5e-010edb4b813a.jpg") no-repeat center top/cover;
}

.slide:nth-child(4) {
    background: url("./Images/f15615e9-e78f-4370-b4db-72fbe3b7671b.jpg") no-repeat center top/cover;
}

@media only screen and (max-width: 1500px) {
    .service {
        padding: 5rem 3rem;
    }

    .service-title h2 {
        font-size: 2rem;
    }

    .service-desc h2 {
        font-size: 1.75rem;
    }

    .icon {
        font-size: 6rem;
    }
}

@media only screen and (max-width: 1000px) {
    .collapse-nav {
        display: flex;
        position: absolute;
        right: 2rem;
        top: 3rem;
        color: var(--black);
    }

    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .collapse-nav {
        position: absolute;
        top: 0;
        right: 0;
    }

    .navbar.responsive a {
        display: block;
        padding: 0.6rem;
    }

    .page-link {
        display: none;
        width: 100%;
        padding: .5rem 1rem;
    }

    .navbar {
        flex-direction: column;
        padding-right: 0;
    }

    .nav-links ul {
        width: 100%;
        flex-direction: column;

    }

    .nav-links li {
        text-align: center;
    }

    .logo-text {
        left: 0;
    }

    .icon {
        font-size: 5rem;
    }

    .service {
        padding: 5rem 1rem;
    }

    .service-title h2 {
        font-size: 1.75rem;
    }

    .service-desc h2 {
        font-size: 1.5rem;
    }

    .quote {
        font-size: 1.75rem;
        width: 80rem;
    }
}

@media only screen and (max-width: 800px) {
    .icon {
        font-size: 4rem;
    }

    .service-title h2 {
        font-size: 1.5rem;
    }

    .service-desc h2 {
        font-size: 1.25rem;
    }

    .quote {
        width: 70rem;
    }
}

@media only screen and (max-width: 700px) {
    .icon {
        font-size: 8rem;
    }

    .services-container {
        display: block;
    }

    .service-title h2 {
        font-size: 2.25rem;
    }

    .service-desc h2 {
        font-size: 2rem;
    }

    #services {
        height: 200rem;
    }

    .quote {
        width: 60rem;
    }
}

@media only screen and (max-width: 600px) {
    .quote {
        width: 50rem;
        font-size: 1.5rem;
    }

    #services {
        height: 220rem;
    }

}

@media only screen and (max-width: 480px) {
    #services {
        height: 230rem;
    }

    .quote {
        width: 40rem;
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 400px) {
    .quote {
        width: 30rem;
        font-size: 1.2rem;
    }

    #services {
        height: 250rem;
    }
}

@media only screen and (max-width: 340px) {
    #services {
        height: 260rem;
    }
}



